/*------------
Fuentes
-------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.cdnfonts.com/css/punk-typewriter');              
/*-----------
Variables globales para definir tema
------------*/
:root,
:root.light{
    --Font:#3498DB ;
    --White:#ffffff;
    --Dark-Blue:#0A3871;
    --Greey:#ffffff;
    --Medium-Gray:#67808E;
    --RGBA:rgba(0,0,0,0.08);
    --White-Blue:#D8DFE8;
    --Medium-Blue: #5d6d7e;
    --Gray:#0A3871;
    --Caja:#5d6d7e;
    --txt:#0A3871;
}
:root.dark{
    --Font:#04f440;
    --White:#060606;
    --Dark-Blue:#04f440;
    --Greey:#C5C5C5;
    --Medium-Gray:#04f440;
    --RGBA:rgba(246, 242, 242, 0.08);
    --White-Blue:#D8DFE8;
    --Medium-Blue:#ffffff; 
    --Gray:#000000;
    --Caja:#04f440;
    --txt:#37ff00;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    background-color: var(--White);
}
::selection{
    background: var(--Dark-Blue);
    color: var(--White); 
}
/*-----------------
Encabezado
------------------*/
header{
    width: 100%;
    height: 15vh;
    position: absolute;
    display:inline-flex;
    margin: 20px 0px 0px 20px;
   
}
.banner{
    display: inline-flex;
    position: absolute;
    width: 98%;
    height: 30px;
    padding-left: 0%;
    font-size: 55px;
    font-family: 'Punk Typewriter', sans-serif;   
    text-align: center;                                     
    color: var(--Medium-Blue);
    margin-top: 12px;
    justify-content: center;
}   

h3{
    
    text-shadow: 7px 4px 5px var(--txt); 
}
.logo{
    background-color: var(--White);
    position: relative;
    display: flex;
    float: left;
    width: 130px;
    height: 40px; 
    margin-top: 36px;
    margin-left: 8px;
    background-color: transparent;
}
      nav li{
        display: inline-flex;
        position:relative;
        flex-direction: row;
        background-color: transparent;
        width: 20%;
        height: max-content;
        margin: 0 0 0 25px;
        font-size: x-large;
        margin-top: 70px;
    }
    nav a{
        text-transform: capitalize;
        font-weight: bold;
        font-size: 0px;
        background-color: var(--White); 
    }
    nav a:hover{
        text-decoration: underline;
        text-decoration-color: orange;
    }

/*--Principal--*/
main{
    display: flex;
    min-height: 75vh;
    flex-direction: row;
    background-color: var(--White);
    background-size: cover;
    background-position: center;
}
body{
    height: 80%;
    background-color: var(--White);
    color:var(--White-Blue);
}
img{
    max-width: 60%; 
    background-color: var(--White);
}

.encriptador{
    width: 100%;
    margin: 168px 0px 0px 140px;
    background: transparent;
    background-color: var(--White);
}

.encriptar{
    width: 660px;
    height: 280px;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    line-height: 48px;
    background-color: var(--White);
    outline: none;
    box-shadow: 10px 24px 25px -8px var(--Caja);
    margin-top: 40px;
    border-radius: 32px;
    resize: none;
}

.encriptar::placeholder,:focus{
    color: var(--Dark-Blue);
}

.encriptador-aviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    opacity: 0.8;
    position: absolute;
    top: 525px;
    border: var(--White);
    color: var(--Black);
    background-color: transparent;
}

.texto-aviso{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color: var(--Medium-Blue);
  
}
.contenedorbotones{ 
    display: inline-block;
    width: 70%;
    margin-left: 2px;
    margin-top: 100px;
    align-items: center;
}

.btn-encriptar{
    width: 210px;
    height: 65px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Greey);
    background: var(--Gray);
    border: 1px solid var(--Font);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA); 
}

.btn-encriptar:active{
    background-color: var(--White);
    box-shadow: inset 2px 2px 4px var(--Font);
    inset: -3px -4px 8px var(--Dark-Blue);
    color: var(--White-Blue);
}

.btn-desencriptar{
    width: 210px;
    height: 65px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--Greey);
    background: var(--Gray);
    border: 1px solid var(--Font);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA); 
}

.btn-copiar:active,
.btn-desencriptar:active, .btn-limpia:active{
    box-shadow: inset 2px 2px 4px var(--Dark-Blue);
    color: var(--Medium-Blue);
    background-color: var(--White);
}
.btn-limpia{
    width: 210px;
    height: 65px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-color: var(--White);
    color: var(--Greey);
    background: var(--Gray);
    border: 1px solid var(--Font);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--RGBA); 
}
.tarjeta{
    width: 40%;
    height: 386px;
    background-color: var(--White);
    box-shadow: 10px 24px 32px -8px var(--Caja);
    position: relative;
    margin-top: 163px;
     border-radius: 20px;
    text-align: center;
    align-items: center;
    background-color: transparent;
}
.tarjeta-contenedor{
    width: 250px;
   height: 300px;
   
   margin: auto;
    margin-top: 40%;
    background-color:transparent;
    justify-content:center;
}
.tit-contenedor{
    
    filter: opacity(.5);
    font-size: 19px;
    font-weight: bolder;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -40px;
    color:var(--Medium-Blue);
}

.img-muñeco{
    background-color: var(--White);
    width: 30%;
    height: 40%;
    margin-top:-40px;
}

.texto-uno{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 200%;
    margin-top: 20px;
    color: var(--Medium-Blue);
    background-color:transparent;
}

.texto-dos{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 200%;
    margin-top: 29px;
    color: var(--Medium-Blue);
    background: var(--White);
   }

.evaluar {
    width: 100%;
    height: 75px;
    text-align: center;
    position: absolute;
    margin-top: 2px;
    top: 0;
    left: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1em;
    color: var(--Medium-Blue);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border: none;
    resize: none;

}

.evaluar:focus{
    outline: none;
}

.btn-copiar{
    width: 260px;
    height: 70px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--Greey);
    background: var(--Gray);
    border: 1px solid var(--Font);
    border-radius: 20px;
    cursor: pointer;
}
.btn-encriptar:hover,
.btn-desencriptar:hover,
.btn-limpia:hover,
.btn-copiar:hover,
.bntn-pegar:hover{
    transform: scale(0.97);
}
/*------------------
Pie De Página
------------------*/
footer{
    background-color: var(--White);
    width: 100%;
    height: 10vh;
    flex-direction: row;
    text-align: center;
    font-size: x-large;
    color: var(--Medium-Blue);
    align-items: center;
    font-family: 'Punk Typewriter', sans-serif;
    padding-bottom: auto;
}

nav{
    background-color: var(--White);
}
#redes {
    list-style-type: none;
    display: inline-block;
    gap: 5px;
    height: 40px;
    padding: 0;
    margin: 0;
    opacity: 0.9;
    margin-top: 60 px;
    background-color: transparent;
}
li {
    margin: 0px 2vw;
    opacity: 0.9;
}
li i {
    font-size: 30px;
    text-shadow: 2px 2px 15px rgb(202, 202, 202);
    background-color: var(--White);
    color: var(--Dark-Blue);
    opacity: 0.9;
  }
   
.derechos{
   
    align-items: center;
    text-align: center;
    margin-top: 60px;
    width: 100%;
    color: var(--Medium-Blue);
    font-family: 'Punk Typewriter', sans-serif;
    font-size: x-large;
    text-shadow: 7px 4px 5px var(--txt);
    opacity: 0.9;
}
/*---------------
Diplay Media
----------------*/
@media(max-width: 1250px){
  
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    ::selection{
        background: var(--Medium-Blue);
        color: var(--Dark-Blue); 
    }
 .banner{
    width: 100%;
    font-display: inherit;
    text-align: center;
    font-size: 48px;
    font-family: 'Punk Typewriter', sans-serif;  
    align-items: center;
    margin-top: 35px;
 }
 nav li{
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: transparent;
    width: 16%;
    height: 25px;
    margin: 0 0 0 25px;
    font-size: x-large;
    margin-top: 90px;
}
nav a{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0px;
    background-color: var(--White); 
}
    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
 
    .encriptar{
        width: 660px;
        height: 300px;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        background-color: var(--White);
        outline: none;
        border: 1px solid var(--Medium-Blue);
        border-radius: 15px;
        resize: none;
    }
    .btn-encriptar, .btn-desencriptar, .btn-limpia
    {width: 120%;
        padding: 38px;
    }
  
    .contenedorbotones{
        width: auto;
        display: flex;
        gap: 5px;
        justify-content: center;
        position: inherit;
        margin-top: 32px;
    }

    .encriptador-aviso{
        position: inherit;
        margin: 15px;
        margin-top: 36px;
    }   
 
    .tarjeta{
        width: 665px;
        height: 380px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: var(--White);
        
        border-radius: 32px;
        position: relative;
        margin-top: 45px;
        text-align: center;
    }

    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: self-end;
        width: 100%;
        position: absolute;
        bottom: 10%;
        font-size: 24px;
        font-weight: 700;
    }
    .texto-aviso{
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        opacity: 0.8;
        background-color: transparent;
        color: var(--Medium-Blue);
        margin-top: 70px;
    }
    .tit-contenedor{
        position: absolute;
        filter: opacity(.5);
        font-size: 16px;
        font-weight: bolder;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: -60px;
        top: 2.5em;
        color:var(--Medium-Blue);
    }
    .texto-uno{
        margin-top: 55px;
    }
    .texto-dos{
        margin-top: 61px;
    }
    .img-muñeco{
        background-color: var(--White);
        width: 30%;
        height: 28%;
        margin-top: 40px;
    }
    .btn-copiar{
        position: inherit;
        width: 80%;
    }

    .evaluar{
        width: 100%;
        height: 210px;
        padding: 18px;
    }
    .derechos{
        font-size: 22px;
        align-items: center;
        background-color: var(--White);
        margin-top: 67px;
    }   
}


@media(max-width: 720px){
    .banner{
        width: 90%;
        height: 20px;
        font-display: inherit;
        text-align: center;
        font-size: 29px;
    font-family: 'Punk Typewriter', sans-serif;  
        align-items: center;
     }
 
    .logo{
        background-color: var(--White);
        display: inline-flex;
        width: 40px;
        height: 30px; 
        margin-top: 42px;
        margin-left: 8px;
    }
      
        nav li{
            width: 10%;
            display: inline-flex;
            margin: 0 0 0 15px;
            font-size: small;
            margin-top: 83px;
        
        }
        
        nav a{
            text-transform: capitalize;
            font-weight: bold;
            font-size: 20px;
            background-color: var(--White);
          
        }    
    
    .encriptar{
        width:  80%;
        font-size: 24px;
    }

    .contenedorbotones{
        display: absolute;
        align-items: center;
        flex-direction: column;
        width: 70%;
        gap: 21px;
    }

    .tarjeta-contenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 80%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }


    .tarjeta{
        width: 80%;
        justify-content: space-evenly;
        padding: 0%;
    }
    .evaluar{
        margin-top: 48px;
    }

    .tit-contenedor{
        position: absolute;
        width: 80%;
        height: 160px;
        align-items: center;
        font-size: 16px;
        font-weight: bolder;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--Medium-Blue);
        filter: opacity(.5);
    }
    .texto-uno{
        margin-top: 50px;
        color: var(--Medium-Blue);
    }
    .texto-dos{
        margin-top: 56px;
        color: var(--Medium-Blue);
    }
   
    .derechos{
        font-size: 13px;
        color: var(--Medium-Blue);
        font-family: 'Punk Typewriter', sans-serif;  
    }}